/* @keyframes changeShape{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-150px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0);
    }
} */

/* fade in animation */
@keyframes fadeIn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

div{
    position: absolute;
    /* width: 150px;
    height: 150px; */
    top: 30%;
    left: 30%;
    /* background-color: blueviolet; */
    /* transition: 1.5s ease-in-out; */
    /* animation: changeShape 1s ease-in-out 2; */
    border-top: 4px solid black;
    border-bottom: 4px solid black;   
}

div span{
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

/* div:hover{
    transform: scale(0.3) rotate(360deg);
    border-radius: 50%;
    left: 10%;
    background-color: aquamarine;
} */